.judge-panel {
  padding: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  height: 100%;
  overflow-y: auto;
  background-color: var(--body-background);
  flex: 1;
}

.judgment-input {
  margin-bottom: 1rem;
}

.judgment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 0.25rem;
}

.judgment-header h2 {
  font-size: var(--font-size-large);
  font-weight: 700;
}

.messages {
  max-width: 1024px;
  margin: 0 auto;
}

.messages div {
  margin-right: 0 !important;
}

.judge-panel pre {
	background-color: var(--body-background-light);
	padding: 8px;
	border-radius: 4px;
	margin: 4px 0 0 0;
	font-family: "Monaco", "Courier New", monospace;
	white-space: pre-wrap;
}